/* triad basecolors Adobe
#1E4B73 - dark blue
#1F74BF - light blue
#732D29 - mahagon
#6C7312 - dark olive green
#B8BF52 - light olive green
#EEAA3A - gold leaves from picture
font families: font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif; 

*/
:root {
	--color1: #1e4b73;
	--color2: #1f74bf;
	--color3: #732d29;
	--color4: #6c7312;
	--color5: #b8bf52;
	--color6: #eeaa3a;
	font-family: "Raleway", sans-serif;
	font-size: medium;
}

body {
	font-family: "Raleway", sans-serif;
	font-size: medium;
}

/* Override Bootstrap setting */
.offset-1 {
	margin-left: 7%;
	margin-right: 7%;
}

h1 {
	color: var(--color6);
	font-size: 4rem;
	font-family: "Playfair Display", serif;
	font-weight: 800;
}

h2 {
	font-weight: 600;
	font-size: 2rem;
}
h3 {
	font-weight: 600;
	font-size: 1.5rem;
}

/* Small devices (landscape phones, 450px and less) */
@media (max-width: 450px) {
	h1 {
		/* text-align: left; */
		font-size: 3rem;
	}
}

footer {
	background-color: var(--color1);
	color: var(--color6);
}

img {
	width: 100%;
	height: auto;
	object-fit: cover;
	/* max-width: 550px; */
	/* border-radius: 50%; */
}

#intro {
	background-color: var(--color1);
}
img#graph {
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
}

#summary {
	background-color: var(--color5);
	color: var(--color1);
}

#summary-img {
	max-width: 270px;
}

img#face {
	border-radius: 50%;
}

#nodeJS.inProgress {
	/* You really read this? Well done!
when learned:
fill: #5fa04e;  */
	fill: lightslategrey;
	opacity: 0.5;
}

#reactJS.inProgress {
	/* You really read this? Well done!
/* when learned: */
	/* fill: #61dafb; opacity: 1.0; */
	fill: lightslategrey;
	opacity: 0.5;
}

#projects {
	background-color: var(--color6);
	color: var(--color3);
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: var(--color3);
	color: var(--color6);
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
}

.card-img,
.card-img-bottom,
.card-img-top {
	width: 100%;
	height: 13rem;
}

.card-body {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	width: 100%;
	min-height: 14rem;
}

/* .card-body h3 {
	min-height: 3.8rem;
} */

.card-text {
	min-height: 5rem;
}
.whatTech {
	margin-top: auto;
	/* min-height: 3rem; */
	margin-bottom: 0;
}

a {
	color: inherit;
}
a:visited {
	color: inherit;
}
a:hover {
	color: inherit;
}
a:active {
	color: inherit;
}

@media (max-width: 576px) {
	/*
    Card elements sizes reduction 
    */

	.card-img,
	.card-img-bottom,
	.card-img-top {
		width: 100%;
		height: 13rem;
	}

	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		min-height: unset;
	}

	/* .card-body h3 {
		min-height: unset;
	} */

	.card-text {
		min-height: unset;
	}
	.whatTech {
		margin-top: 1rem;
		min-height: auto;
		margin-bottom: 0;
	}
}

@media (min-width: 768px) {
	.card-text {
		min-height: 7rem;
	}
	/* .card-body h3 {
		min-height: 3.8rem;
	} */
	.card-img,
	.card-img-bottom,
	.card-img-top {
		height: 13rem;
	}
	.whatTech {
		margin-top: auto;
		min-height: auto;
		margin-bottom: 0;
	}
}

@media (min-width: 768px) and (max-width: 917px) {
	.card-body h3 {
		min-height: 3.8rem;
	}
}

@media (min-width: 1200px) {
	.card-body {
		min-height: unset;
	}

	.card-text {
		min-height: 4rem;
	}
	.card-img,
	.card-img-bottom,
	.card-img-top {
		height: 20rem;
	}
	.whatTech {
		margin-top: 0;
		min-height: auto;
		margin-bottom: 0;
	}
}
